body {background-color: rgb(52, 189, 132);}
        label{color: rgb(237, 237, 241);
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
              ;font-size: 25px;}
        input{color: rgb(255, 2, 44);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
             font-size: 20px;
            background-color: rgb(137, 201, 35);}
        ins {color: rgb(255, 0, 13);
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
              ;font-size: 30px;} 
        textarea { background-color: rgb(137, 201, 35);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;}  
        option{ background-color: rgb(137, 201, 35);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;}
        button { background-color: rgb(137, 201, 35);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;}